/* RESPONSIVE GRID */
.fixed-1 { width: 8.33%; }
.fixed-2 { width: 16.66%; }
.fixed-3 { width: 25%; }
.fixed-4 { width: 33.33%; }
.fixed-5 { width: 41.66%; }
.fixed-6 { width: 50%; }
.fixed-7 { width: 58.33%; }
.fixed-8 { width: 66.66%; }
.fixed-9 { width: 75%; }
.fixed-10 { width: 83.33%; }
.fixed-11 { width: 91.66%; }
.fixed-12 { width: 100%; }

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }
[class*="col-"], [class*="fixed-"] {
    float: left;
    padding: 0 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 641px) {
    .row > div:first-child {  padding-left: 0;  }
    .row > div:last-child {  padding-right: 0;  }
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
        padding: 15px 0;
    }
}